<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Django Girls blog</title>
</head>
<body>
	<div>
		<h1><a href="">Django Girls blog</a></h1>
	</div>
	<div>
		<p>published: 06.06.2016, 20:58</p>
		<h2><a href="">My first post</a></h2>
		<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
	</div>
	<div>
		<p>published: 06.06.2016, 20:58</p>
		<h2><a href="">My second post</a></h2>
		<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
	</div>
</body>
</html>
